@layer reset, fonts, tokens, typography, base, example, lightdom;

@import url('https://redhatofficial.github.io/styles/fonts.css') layer(fonts);
@import url('https://cdn.jsdelivr.net/npm/@r hds/tokens@3.0.1/css/global.min.css') layer(tokens);
@import url('https://cdn.jsdelivr.net/npm/@rhds/tokens@3.0.1/css/default-theme.min.css') layer(tokens);
* {
  box-sizing: border-box;
}

html.reduce-fouce {
  opacity: 0;
  animation-name: appear;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}

body {
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  background-color: var(--rh-color-surface, light-dark(var(--rh-color-surface-lightest, #ffffff), var(--rh-color-surface-darkest, #151515)));
  color: var(--rh-color-text-primary, light-dark(var(--rh-color-text-primary-on-light, #151515), var(--rh-color-text-primary-on-dark, #ffffff)));
  
}

/* 
 * rh-navigation-shim as used in 
 * https://github.com/RedHatOfficial/RedHatOfficial.github.io/blob/dev/static/styles/rh-navigation-primary-shim.css
*/
rh-navigation-primary:not(:defined) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--rh-space-xl, 32px);
    padding-inline: var(--rh-space-lg, 16px);
    height: 83px;

    @media (min-width: 576px) {
       padding-inline: var(--rh-space-2xl, 32px);
    }
}

rh-navigation-primary {
  div[slot="logo"] {
    display: grid;
    grid-template-columns: max-content auto;
    width: max-content;
    height: 100%;
    place-content: center;

    a {
      height: 40px;
      display: block;
      place-content: center;
      width: max-content;
      
      &:first-of-type {
        padding-inline-end: var(--rh-space-lg, 16px);
      }
      
      &:last-of-type {
        color: var(--rh-color-text-primary, light-dark(var(--rh-color-text-primary-on-light, #151515), var(--rh-color-text-primary-on-dark, #ffffff)));
        font-size: var(--rh-font-size-body-text-xl, 1.25rem);
        text-decoration: none;
        border-inline-start: 1px solid transparent;
        
        @container (min-width: 567px) {
          border-inline-start-color: var(--rh-color-border-subtle, light-dark(var(--rh-color-border-subtle-on-light, #c7c7c7), var(--rh-color-border-subtle-on-dark, #707070)));
          padding-inline-start: var(--rh-space-lg, 16px);
        }
        
        
        & :is(span, abbr) {
          
          &:is(.short,.full) {
            display: none;
          }
          
          @container (min-width: 567px) {
            &.short {
              dislpay: block;
            }
          }

          @container (min-width: 768px) {
            &.short {
              display: none;
            }
            &.full {
              display: block;
            }
          }
          

        }
        
        & abbr {
          text-decoration: none;
        }
      }
    }

    & svg {
      block-size: 30px;
      inline-size: 42px;
    }
  }
}


@keyframes appear {
  100% {
     opacity: 1;
  }
}